{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
    <section>
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Вхід</h1>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="text" name="username" required>
                <label>Логін</label>
                <!-- <span class="error-message" id="email-error"></span> -->
            </div>

            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input id="passwordInput" type="password" name="password" required>
                <label>Пароль</label>
                <i class="far fa-eye-slash eye-icon" id="togglePassword"></i>
            </div>

            <div class="forget">
                <a href="{% url 'museum:password_forgotten' %}">Забули пароль</a>
            </div>
            <button>Увійти</button>
            <div class="register">
                <p>Немає? <a href="{% url 'museum:signup' %}">Зареєструватися</a></p>
            </div>
        </form>
    </section>

    <script>
        const passwordInput = document.getElementById('passwordInput');
        const togglePassword = document.getElementById('togglePassword');

        togglePassword.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    </script>
{% endblock %}