{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
    <section>
        <form>
            <h1>Не вдається ввійти?</h1>
            <div class="register">
                <p>Укажіть електронну адресу і ми надішлемо вам посилання для відновлення доступу до облікового запису.</p>
            </div>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" required>
                <label>Введіть електронну пошту</label>
                <span class="error-message" id="email-error"></span>
            </div>

            <button>Надіслати посилання</button>
        </form>
    </section>

    <script>
        const passwordInput = document.getElementById('passwordInput');
        const showPasswordCheckbox = document.getElementById('showPassword');

        showPasswordCheckbox.addEventListener('change', function () {
            if (this.checked) {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        });
    </script>
{% endblock %}